

*{ margin: 0;
    padding: 0;}

  html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
      }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #454545;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: .95;
}

.sidenav a {
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    opacity: .5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

img     { display: block;   
        margin: auto;}

.logofade {animation: opac 4s;}

@keyframes opac {from{opacity:0} to{opacity:.9}}

#maincont { margin-left: auto;
            margin-right: auto;
            display: block;
            width: 900px;
            height: 750px;}

#contactmain { margin-left: 115px;}

#map { width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;}

@media screen and (max-width: 750px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 750px) {
    #maincont { margin-top: 2.5vh;
                width: 99%;
                height: 500px;}
}

@media screen and (max-width: 750px) {
    img { width: 100%;}
}

@media screen and (max-width: 750px) {
    #map { width: 90%;}
}